/* CSS file */
Application { 
   backgroundColor: #e6e6e6;
   themeColor: #638E9F;
   color: #333333;
}
List { 
   rollOverColor: #EFEFEF;
   selectionColor: #FFF79F;
}
DataGrid { 
   rollOverColor: #EFEFEF;
   selectionColor: #FFF79F;
}
TabNavigator{
	tabHeight: 26;
	tabStyleName: "tabStyle";
}
Accordion{
   headerHeight: 30;
   backgroundAlpha: 1;
   highlightAlphas: 0.24, 0.08;
   selectedFillColors: #a7cedf, #5b879c;
   color: #333333;
}
.assignmentLabel{
	fontSize: 11;
	fontWeight: bold;
}
.listHeadings{
	fontSize: 11;
	fontWeight: bold;
	color: #60BB53;
}
.saveButton{
	icon: Embed(source='/assets/UIelements.swf',symbol='icon_disc');
	fillAlphas: 0.8, 0.6, 0.99, 0.7;
	paddingLeft: 4;
	paddingRight: 4;
	paddingTop: 4;
	paddingBottom: 4;
}
.instanceLabel{
	fontSize: 11;
	fontWeight: bold;
	textAlign: center;
	color: #000000;
}
.assignmentText{
	fontSize: 10;
	textAlign: center;
	color: #000000;
}
.actionLabel{
	fontSize: 9;
}
.saveBarStyle{
	backgroundColor: #5B879C;
	color: #FFFFFF;
}
.selectionCB{
	fontsize: 10;
	fontWeight:bold;
	color: #FFFFFF;
	rollOverColor: #FFFFFF;
	disabledColor: #f1f1f1;
}
.tabStyle{
	color: #7CC440;
}
.roleBox{
	color: #000000;
}
.warningLabel{
	fontWeight: bold;
	color: red;
}

