/* CSS file */
Application{
	backgroundColor: #ffffff;
}
.addButton{
	overIcon : Embed(source="../assets/UIelements.swf", symbol="icon_add"); 
	upIcon : Embed(source="../assets/UIelements.swf", symbol="icon_add");
	downIcon : Embed(source="../assets/UIelements.swf", symbol="icon_add");
}
.deleteButton{
	overIcon : Embed(source="../assets/UIelements.swf", symbol="icon_trash"); 
	upIcon : Embed(source="../assets/UIelements.swf", symbol="icon_trash");
	downIcon : Embed(source="../assets/UIelements.swf", symbol="icon_trash");
}
.duplicateButton{
	overIcon : Embed(source="/assets/icon_dup.png"); 
	upIcon : Embed(source="/assets/icon_dup.png");
	downIcon : Embed(source="/assets/icon_dup.png");
}
.saveButton{
	overIcon : Embed(source="/assets/UIelements.swf", symbol="icon_disc"); 
	upIcon : Embed(source="/assets/UIelements.swf", symbol="icon_disc");
	downIcon : Embed(source="/assets/UIelements.swf", symbol="icon_disc");
}
.loadButton{
	overIcon : Embed(source="/assets/icon_load.png"); 
	upIcon : Embed(source="/assets/icon_load.png");
	downIcon : Embed(source="/assets/icon_load.png");
}
.viewButton{
	overIcon : Embed(source="/assets/UIelements.swf", symbol="icon_binoculars"); 
	upIcon : Embed(source="/assets/UIelements.swf", symbol="icon_binoculars");
	downIcon : Embed(source="/assets/UIelements.swf", symbol="icon_binoculars");
}
.cancelButton{
	overIcon : Embed(source="/assets/icon_cancel.jpg"); 
	upIcon : Embed(source="/assets/icon_cancel.jpg");
	downIcon : Embed(source="/assets/icon_cancel.jpg");
}
.testButton{
	overIcon : Embed(source="/assets/icon_link.jpg"); 
	upIcon : Embed(source="/assets/icon_link.jpg");
	downIcon : Embed(source="/assets/icon_link.jpg");
}
.messageText{
	color: #FF2222;
	textAlign: center;
	borderStyle: solid;
	borderColor: #eeeeee;
}
.navTree{
	 borderStyle: none;
}
.headerText{
	fontWeight: bold;
}